[Unit]
Description=Start gitlab-docker service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart={{ docker_gitlab_docker_compose_binary_full_path }} -f {{ docker_gitlab_docker_compose_location }}/{{ docker_gitlab_docker_compose_file_name }} up
ExecStop={{ docker_gitlab_docker_compose_binary_full_path }} -f {{ docker_gitlab_docker_compose_location }}/{{ docker_gitlab_docker_compose_file_name }} stop

[Install]
WantedBy=multi-user.target